.create_researhes {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  opacity: 0;
  transition: 1.2s;
  transition-delay: 2s;
  overflow-x: hidden;
}
.create {
  min-height: 100svh;
  min-width: 100vw;
  z-index: 1;
  display: grid;
  place-items: center;
  transition: 1.3s cubic-bezier(0.7, 0, 0.3, 1);
}
.active {
  opacity: 1;
}
.create .create_,
.keyword section {
  padding: 10px;
  width: calc(100vw - 50px);
  max-width: 500px;
}
.create .create_ header {
  font-size: 0.93em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.create .create_ input,
.keyword input {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  background: none;
  padding: 15px 15px;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
  outline: none;
  color: hsl(0, 0%, 93%);
  font-size: 15px;
}
.create .create_ input:focus,
.keyword input:focus {
  border-bottom: 1px solid #ddd;
}
.create .create_ .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons a {
  transform: translateY(10px);
  color: #ddd;
  text-decoration: none;
}
.buttons a:hover {
  text-decoration: underline;
}
.buttons button {
  width: 40px;
  background: #dddddd;
  transition: 0.4s;
  border: none;
  font-size: 1em;
  height: 40px;
  display: grid;
  cursor: pointer;
  place-items: center;
}
.create .create_ .buttons button:active {
  scale: 0.7;
}
.error {
  margin-bottom: 30px;
  margin-top: 10px;
  color: #ababab;
  line-height: 1.6;
  font-size: 15px;
}
.create_ textarea {
  width: 100%;
  background: none;
  border: 1px solid #3a3a3a;
  padding: 25px;
  padding-top: 20px;
  height: 250px;
  margin-top: 25px;
  margin-bottom: 25px;
  outline: none;
  color: hsl(0, 0%, 80%);
  font-size: 15px;
  resize: none;
  line-height: 1.8;
}
.create_ textarea:focus {
  border: 1px solid #848484;
}
.create_ textarea::placeholder {
  color: #292929;
}
@media screen and (min-width: 768px) {
  .create_ textarea {
    font-size: 16px;
  }
}
.keyword {
  min-height: 100svh;
  color: #ddd;
  transition: 1.3s cubic-bezier(0.7, 0, 0.3, 1);
  min-width: 100vw;
  display: grid;
  place-items: center;
  transform: translate(-100vw);
}
.keyword header {
  font-size: 0.93em;
}
.keyword section {
  padding-top: 0;
}
.keyword .elements {
  max-height: 30vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.keyword .elements p {
  margin-bottom: 20px;
  padding: 10px;
}
.keyword .elements p:not(.selected_keyword):hover {
  background: #3a3a3a;
  cursor: pointer;
}
.keyword .buttons {
  margin-top: 20px;
}
.selected_keyword {
  background: #ddd;
  color: #0e0e0e;
  cursor: help;
}

.loader {
  position: relative;
}
.loader::after {
  animation: animate_loader 0.7s steps(4) infinite;
  font-size: 1.1em;
  position: absolute;
  top: -14px;
  left: -3px;
  content: "";
}
@keyframes animate_loader {
  0% {
    content: "/";
  }
  25% {
    content: "-";
  }
  50% {
    content: "\\";
  }
  100% {
    content: "|";
  }
}
.image_upload {
  min-width: 100vw;
  min-height: 100svh;
  display: grid;
  transition: 1.3s cubic-bezier(0.7, 0, 0.3, 1);
  place-items: center;
}
.image_upload header {
  font-size: 0.93em;
}
.image_upload label {
  background: #fff;
  cursor: pointer;
  color: #0e0e0e;
  font-size: 0.93em;
  padding: 10px;
  position: absolute;
  margin-top: 10px;
}
.no_login {
  margin-top: 100px;
  padding: 20px;
  padding-left: 35px;
  opacity: 0;
  animation: anime 1s ease forwards;
}
@keyframes anime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
